{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": "defaults, not ie 11", "node": true },
        "modules": false,
        "useBuiltIns": false,
        "loose": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs"]
}
