dist/
node_modules/
npm-debug.log
package-lock.json
tmp/
docs/

# Optional eslint cache
.eslintcache

# yarn v3 (w/o zero-install)
# See: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
